#!/usr/bin/env bash

# Setting up defaults
# -----------------------------------------------
export EDITOR='hx'
export VISUAL='hx'
export BROWSER='firefox'
export TERMINAL='kitty'
export WM='niri'
export TERM="xterm-256color"
export COLORTERM='truecolor'

# ~/ clean up
# -----------------------------------------------
export XGD_DATA_HOME=${XDG_DATA_HOME:="$HOME/.local/share"}
export XDG_CACHE_HOME=${XDG_CACHE_HOME:="$HOME/.cache"}
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:="$HOME/.config"}
#export XDG_RUNTIME_DIR=${XDG_RUNTIME_DIR:="$HOME/.config/runtime_dir/"}

# disable LESS history file
# -----------------------------------------------
export LESSHISTFILE="-"

# i need this way so it gets the default path
# -----------------------------------------------
export CARGO_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/cargo"
export RUSTUP_HOME="${XDG_DATA_HOME:-$HOME/.local/share}/rustup"
export HISTFILE="${XDG_DATA_HOME:-$HOME/.local/share}/bash/history"
export GNUPGHOME="${XDG_DATA_HOME:-$HOME/.local/share}/gnupg"
# export XINITRC="${XDG_CONFIG_HOME:-$HOME/.config}/X11/xinitrc"
export RIPGREP_CONFIG_PATH="${XDG_CONFIG_HOME:-$HOME/.config}/.ripgreprc"
# export HELIX_RUNTIME=$HOME/projects/helix/runtime

# i am adding it to path via bashrc
# export PATH="$HOME/.local/share/cargo/bin:$PATH"

# MAN syntax highlighting
# -----------------------------------------------
export MANPAGER="sh -c 'col -bx | bat -l man -p'"

# PYTHON
# -----------------------------------------------
# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';
# The PATH environment variable is used by the shell to locate executables
# Python uses the PYTHONPATH variable to locate modules and packages.
export PYTHONPATH="${PYTHONPATH}:$HOME/projects/python_path"

# Prefer US English and use UTF-8.
# -----------------------------------------------
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# i need this for pyenv
# -----------------------------------------------
# export PYENV_ROOT="$HOME/.pyenv"
# command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
# eval "$(pyenv init -)"

# FZF
# -----------------------------------------------
# <CTRL+R> search history of shell commands
# FZF_DEFAULT_COMMAND is piped into fzf if you run fzf without any input. 
# So, with this setup, fd . $HOME | fzf and fzf do the same thing.
# export FZF_DEFAULT_COMMAND="fd --hidden --strip-cwd-prefix --exclude .git . $HOME"
export FZF_DEFAULT_COMMAND='fd --type f --strip-cwd-prefix --hidden --follow --exclude .git'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_ALT_C_COMMAND="fd --type=d --hidden --strip-cwd-prefix --exclude .git . $HOME" 

# customize FZF prompt
export FZF_DEFAULT_OPTS=$FZF_DEFAULT_OPTS'
  --height=40% 
  --layout=reverse 
  --height 45% 
  --info=inline 
  --border 
  --margin=1 
  --padding=1   
  --color=prompt:#d7005f,spinner:#af5fff,pointer:#af5fff,header:#87afaf
  --color=border:#262626,label:#aeaeae,query:#d9d9d9
  --border="rounded" --border-label="" --preview-window="border-rounded" 
  --prompt="> "
    --marker=">" --pointer="◆" --separator="─" --scrollbar="│"'
  
# the below does not work with mac
#source /usr/share/fzf/completion.bash
#source /usr/share/fzf/key-bindings.bash

# binding my fzf scripts instead of alliases
# bind '"\C-f":"cd_with_fzf\n"'
# bind '"\C-o":"open_with_fzf\n"'
# bind '"\C-v":"nvidoes 
