#!/usr/bin/env bash

# -----------------------------------------------------
# EASIER NAVIGATION
# -----------------------------------------------------
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias c='clear'
alias ssd='sudo shutdown now'
alias sr='sudo reboot'
alias clock='tock -cms'
# with -i it is asking you if overwrites something
# with -v it explains what is being done on terminal - visual
# with -p you are making the parent directory if doesnt exist
alias mkdir='mkdir -pv'
# alias rmd='rm -rfv'
alias rm='rm -iv' 
alias mv='mv -iv' 
alias cp='cp -iv'
alias cat='bat --paging=never' # to preserve cat's default behavior
alias b='bash'
alias e='exit'
# echo PATH, every path in different line
alias ep='echo $PATH | tr : "\n"'

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# -----------------------------------------------------
# LINUX SCRIPTS
# -----------------------------------------------------
# source bash files and clear terminal
alias sb=source_files
# combine cd with erdtree
alias cdd=cd_with_et
# run daily updates
alias dua=daily_updates
# run weekly updates, checks and clean up
alias wua=weekly_updates 

# -----------------------------------------------------
# FZF SCRIPTS
# -----------------------------------------------------
# you need the dot otherwise the script will run in a subshell!
alias z=fzf_go_to_path
# find a file with fzf and open it with nvim
alias vv=fzf_open_file
# find empty files
alias fe=fzf_empty_files
# find files bigger than xxxMB
alias fb=fzf_find_big_files
# find all the scripts i have
alias fs=fzf_find_my_scripts
# move a file from anywhere folder to anywhere folder
alias fm=fzf_move_to_path
# copy file to anywhere
alias fc=fzf_copy_to_path
# find a phrase in a file
alias ff=fzf_file_that_contains_phrase

# -----------------------------------------------------
# PYTHON-PIP
# -----------------------------------------------------
alias p='python3'
# find the version for each python program installed using fzf
alias pipv='pip list | fzf'
alias pu=pip_update

# -----------------------------------------------------
# PACMAN - PARU SCRIPTS
# -----------------------------------------------------
# install pacman program with the help of fzf
alias pi='pacman -Slq | fzf --multi --preview "pacman -Si {1}" | xargs -ro sudo pacman -S'
# remove pacman program with the help of fzf
alias pr='pacman -Qq | fzf --multi --preview "pacman -Qi {1}" | xargs -ro sudo pacman -Rns'
# find the version for each pacman program install using fzf
alias pv='pacman -Q | fzf'
# install arch + aur programs with the help of paru and fzf
alias auri='paru -Slq | fzf --multi --preview "paru -Si {1}" | xargs -ro paru -S'

# -----------------------------------------------------
# RUST
# -----------------------------------------------------
# cargo shortcuts
# https://doc.rust-lang.org/book/ch01-03-hello-cargo.html

alias cn='cargo new'
alias ci='cargo install'
alias cc='cargo check'
alias cr='cargo run'
alias cb='cargo build'
alias cs='cargo search'
alias ct='cargo test'
alias cu='cargo install-update -a'
alias cl='cargo install-update -l'

# erdtree shortcuts
# https://github.com/solidiquis/erdtree

# sort by name first, directory first, short format
alias l='erd'
# sort by name first, directory first, long format
alias ll='erd --config ls-long'
# sort by size first, directory first, short format
alias lss='erd --config ls-size'
# sort by size first, directory first, long format
alias lsl='erd --config ls-long-size'

# trashy shortcuts
# https://github.com/oberblastmeister/trashy

# use trash with 'rmd'
alias rmd='trash'
# trash list
alias trl='trash list'
# empty all items from trash
alias tra='trash empty --all'
# restore trash item with trashy
alias trr='. fzf_scripts.sh && fzf_restore_file_from_trash'
# empty trash item with trashy
alias tre='. fzf_scripts.sh && fzf_empty_file_from_trash'

# zellij shortcuts
# https://github.com/zellij-org/zellij

# run zellij
alias zel='zellij'

# -----------------------------------------------------
# GIT SHORTCUTS
# -----------------------------------------------------
alias ginit=git_init_template
alias gpu='git push'
alias gpl='git pull'
alias ga='git add'
alias gc='git commit'
alias gcm='git commit -m'
alias gcw=git_commit_workflow
alias glg=git_log_graph
alias gl='git log'
alias glo='git log --oneline'
alias gpulla=git_pull_all_git_dirs
# amend a commit without changing the commit message
alias gcame='git commit --amend --no-edit'
alias gs='git status -sb'
alias gsa=git_status_all_git_dirs
# clean up ignore files that mistakenly are tracked
alias gclean='git_clean_up'
alias gd='git diff -w'
alias lg='lazygit'

# -----------------------------------------------------
# PRINT FILE SOURCED CONFIRMATION
# -----------------------------------------------------
echo "-- .aliases file sourced"
