# download grammar for the below only
use-grammars = { only = [
  "python",
  "rust",
  "toml",
  "bash",
  "json",
  "yaml",
  "markdown",
  "nu",
  "nix",
] }


[language-server.nixd]
command = "nixd"

[[language]]
name = "nix"
language-servers = ["nixd"]
auto-format = true
formatter = { command = "nixpkgs-fmt" }


[language-server.ruff]
command = "ruff"
args = ["server"]
# args = ["server", "--preview"]

[language-server.pylsp]
command = "pylsp"

[language-server.pylsp.config.pylsp]
plugins.pyls_mypy.enabled = false
plugins.pyls_mypy.live_mode = true

[language-server.ty]
command = "ty"
args = ["server"]

[[language]]
name = "python"
auto-format = true
language-servers = ["ruff", "pylsp", "ty"]
# formatter = { command = "sh", args = ["-c", "ruff format --quiet -"] }
formatter = { command = "ruff", args = ["format", "--quiet", "-"] }


[language-server.yaml-language-server.config.yaml]
format = { enable = true }
validation = true

[[language]]
name = "yaml"
auto-format = true
file-types = ["yaml", "yml"]
language-servers = ["yaml-language-server"]
# formatter = { command = "prettier", args = ["--parser", "yaml"] }

[[language]]
name = "rust"
auto-format = true
language-servers = ["rust-analyzer"]

[language-server.rust-analyzer.config.check]
command = "clippy"

[language.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'<' = '>'
'`' = '`'


[[language]]
name = "bash"
auto-format = true
scope = "source.bash"
file-types = [
  "sh",
  "bash",
  "text",
  "config",
  "ignore",
  ".conf",
  ".config",
  ".aliases",
  ".env",
  ".bashrc",
  ".bash_profile",
  ".exports",
  ".profile",
]
formatter = { command = "shfmt", args = ["-l", "-w"] }


[language-server.json-server]
command = "vscode-json-language-server"

[[language]]
name = "json"
auto-format = true
file-types = ["json", "kdl"]
language-servers = ["json-server"]
# formatter = { command = "prettier", args = ["--parser", "json"] }
formatter = { command = "dprint", args = ["fmt", "--stdin", "json"] }


[[language]]
name = "toml"
auto-format = true
file-types = ["toml", "ini", "pycodestyle"]
language-servers = ["taplo"]
formatter = { command = "taplo", args = ["fmt", "-"] }

# fork of ltex-ls that is getting updated
# [language-server]
# ltex-ls-plus = { command = "ltex-ls-plus" }

# [language-server.ltex-ls.config]
# disable profanity rule
# ltex.disabledRules = { "en-US" = ["PROFANITY"], "en-GB" = ["PROFANITY"] }
# add `builtin` to the dictionary
# ltex.dictionary = { "en-US" = ["builtin"], "en-GB" = ["builtin"] }

[language-server.typos]
command = "typos-lsp"

[[language]]
name = "markdown"
comment-tokens = ["-", "+", "*", "1.", ">", "- [ ]"]
soft-wrap.enable = true
text-width = 120
soft-wrap.wrap-at-text-width = true
auto-format = true
# file-types = ["md"]
# ltex-ls-plus uses https://languagetool.org/ under the hood.
# language-servers = [ "marksman" "ltex-ls-plus"];
language-servers = ["markdown-oxide", "typos"]
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }

[language.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'<' = '>'
'`' = '`'
'*' = '*'
