line-length = 120

[format]
indent-style = "space"
line-ending = "auto"
docstring-code-format = true
docstring-code-line-length = 88
# Using the "magic" trailing comma is recommended to reduce diff noise.
skip-magic-trailing-comma = false

[lint]
# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []
select = [
  "A",    # flake8-builtins
  "B",    # flake8-bugbear
  "C4",   # flake8-comprehensions
  "D",    # pydocstyle
  "DTZ",  # flake8-datetimez
  "E",    # pycodestyle
  "ERA",  # eradicate (commented-out code)
  "F",    # Pyflakes
  "I",    # isort
  "N",    # pep8-naming
  "PERF", # Perflint
  "PIE",  # flake8-pie
  "PT",   # flake8-pytest-style
  "Q",    # flake8-quotes
  "RUF",  # Ruff-specific rules
  "SIM",  # flake8-simplify
  "TCH",  # flake8-type-checking
  "TD",   # flake8-todos
  "TID",  # flake8-tidy-imports
  "UP",   # pyupgrade
  "W",    # pycodestyle
]

ignore = [
  "W191",
  "E111",
  "E114",
  "E117",
  # Implicit string concatenation is a style choice.
  "ISC001",
  "ISC002",
  # Docstring Ignores
  # D10* rules are for missing docstrings. It's common to disable these,
  # especially for private methods or tests.
  "D100",
  "D102",
  "D103",
  "D104",
  "D105",
  "D107",
  # These are stylistic choices that can be debated.
  "D203",
  "D212",
  "D401",
  "D402",
  "D415",
  "D416",
  # Tool-specific Ignores
  # Allow broad pytest.raises()
  "PT011",
  # Allow nested if statements
  "SIM102",
  # Allow `foo.bar("a" + "b")`
  "RUF005",
  # TODOs
  # Allow TODOs without a ticket link
  "TD002",
  "TD003",
]

[lint.pydocstyle]
# Use the numpy docstring convention.
convention = "numpy"

[lint.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "double"
multiline-quotes = "double"
