[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 600 'niri msg action power-off-monitors' timeout 300 'swaylock -i ~/pics/wallpapers/20920.jpg' before-sleep 'swaylock -i ~/pics/wallpapers/20920.jpg'
Restart=on-failure
