fastapi
google-cloud-bigquery
google-cloud-bigquery-storage
hvplot
ipython
mysql-connector-python
mysql.connector
numpy
openpyxl
pandas
plotly
polars
pyarrow
pydantic
pydomo
python-decouple
python-lsp-server
requests
rich
ruff
sqlalchemy
tqdm
uvicorn
xlsxwriter
